body {
    font-family: Arial, sans-serif;
    background-color: #121212; /* Черный фон */
    color: #fff; /* Белый текст */
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    background-color: #1f1f1f; /* Темный фон */
    color: #fff;
}

header h1 {
    margin: 0;
    font-size: 20px;
}

header div {
    display: flex;
    gap: 10px;
}

header button {
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
    background-color: #333;
    color: #fff;
    border: none;
}

header button:hover {
    background-color: #444;
}

.level-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.level {
    display: flex;
    align-items: center;
    background-color: #1f1f1f; /* Темный фон */
    border-radius: 8px;
    padding: 10px;
    margin: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 900px;
    cursor: move;
}

.level img {
    border-radius: 8px;
    margin-right: 10px;
    width: 180px;
    height: 90px;
    object-fit: cover;
}

.level-info h2 {
    margin: 0;
    font-size: 24px;
    color: #fff; /* Белый текст */
}

.level-info p {
    margin: 5px 0 0;
    color: #bbb; /* Светло-серый текст */
}

.popup-form {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #1f1f1f; /* Темный фон */
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    z-index: 1000;
}

.popup-form form {
    display: flex;
    flex-direction: column;
}

.popup-form label {
    margin-top: 10px;
    color: #fff; /* Белый текст */
}

.popup-form input {
    padding: 8px;
    margin-top: 5px;
    background-color: #333; /* Темный фон */
    color: #fff; /* Белый текст */
    border: none;
    border-radius: 4px;
}

.popup-form button {
    margin-top: 20px;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

.popup-form button:hover {
    background-color: #444;
}
